*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --main-text-gradient: linear-gradient(
    270deg,
    hsl(234deg 84% 75%) 0%,
    hsl(211deg 89% 69%) 52%,
    hsl(201deg 78% 66%) 68%,
    hsl(193deg 59% 69%) 100%
  );
  --bg-color: #191919;
  --part-bg-color: #000000; 
  --main-border-radius: 1rem;
  --sec-border-radius: 0.5rem;
  --text-darker-color: #c0c0c0;
  --text-color: #f8f8f8;
  --main-color: #1d9bf0;
  --btn-hover-color:  #858585;
  --themes-hover-color:  #272727;
  --main-transition: all 0.6s 0s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
body{
  font-family: "Inter",sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.gradient-text{
  background-image: var(--main-text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 600;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}